<div class="boardInfo">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">نموذج طلب نشر كتاب</h4>
                    <form class="form-sample">
                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                            <tr>
                                <th>
                                    <label>عنوان الكتاب</label>
                                </th>
                                <th>
                                    <label> موضوعه</label>
                                </th>
                            </tr>
                            <tr>
                                <td data-label=" عنوان الكتاب">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="موضوعه">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </table>

                        <h5 class="card-description">
                            بيانات المؤلف/المؤلفين:
                        </h5>
                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                            <tr>
                                <th>
                                    <label>م</label>
                                </th>
                                <th>
                                    <label>اسم المؤلف رباعيا</label>
                                </th>
                                <th>
                                    <label>  الدرجة العلمية</label>
                                </th>
                                <th>
                                    <label>  الكلية</label>
                                </th>
                                <th>
                                    <label>  القسم</label>
                                </th>
                                <th>
                                    <label>  التخصص الدقيق</label>
                                </th>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>1</label>
                                </td>
                                <td data-label=" اسم المؤلف رباعيا">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الدرجة العلمية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="  الكلية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="القسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التخصص الدقيق">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>2</label>
                                </td>
                                <td data-label=" اسم المؤلف رباعيا">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الدرجة العلمية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="  الكلية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="القسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التخصص الدقيق">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td data-label=" م">
                                    <label>3</label>
                                </td>
                                <td data-label=" اسم المؤلف رباعيا">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الدرجة العلمية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="  الكلية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="القسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التخصص الدقيق">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>4</label>
                                </td>
                                <td data-label=" اسم المؤلف رباعيا">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الدرجة العلمية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="  الكلية">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="القسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التخصص الدقيق">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </table>

                        <h5 class="card-description">
                            الغرض من تأليف الكتاب:
                        </h5>
                        <div class="form-group">
                            <div class="row">

                                <div class="col-12 col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                            مقرر دراسي
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="">
                                            مرجع علمي
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="">
                                            أخري
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="card-description">
                            في حالة الكتاب الدراسي، يرجى استكمال ما يلي:
                        </h5>
                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                            <tr>
                                <th>
                                    <label>رقم المقرر ورمزه</label>
                                </th>
                                <th>
                                    <label> اسم المقرر</label>
                                </th>
                                <th>
                                    <label> عدد الطلبة المتوقع تسجيلهم لهذا المقرر سنويا</label>
                                </th>
                            </tr>
                            <tr>
                                <td data-label=" رقم المقرر ورمزه">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="اسم المقرر">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="عدد الطلبة المتوقع تسجيلهم لهذا المقرر سنويا">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </table>

                        <h5 class="card-description">
                            اقرار المؤللفين بالملكية الفكرية للكتاب والتنازل عن حقوق النشر:
                        </h5>
                        <div class="checkBoxex">
                            <div class="form-group">
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أقر بملكية الحقوق الفكرية للكتاب دون مشاركة من أحد، وقد أذنت الجامعة السعودية الالكترونية بنشر الكتاب وفق ضوابط النشر المعمول بها في الجامعة وقد أطلعت عليها.
                                    </label>
                                </div>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أقر بملكية الحقوق الفكرية للكتاب بمشاركة المؤلفين المذكورة أسمائهم في الجدول أعلاه، وقد حصلت منهم على الموافقة على نشره وانابتي عنهم في ذلك بناء على توقيع كل منهم أدناه  وقد أذنت الجامعة السعودية الالكترونية بنشر الكتاب وفق ضوابط النشر المعمول بها في الجامعة وقد أطلعت عليها.
                                    </label>
                                </div>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أقر بأن الكتاب ليس تحت النظر حاليا لدى أى جهة أخري لغرض النشر
                                    </label>
                                </div>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أتعهد بعدم نشر الكتاب قبل صدور قرار المجلس العلمي بشأن هذا الطلب.
                                    </label>
                                </div>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أقر بأن العمل المقدم ليس له رسالة علمية  (ماجستير - دكتوراه) ،وأنه لم ينشر من قبل.
                                    </label>
                                </div>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أقر بأن العمل المقدم ليس ابحاثا سابقة لي، تم نشرها.
                                    </label>
                                </div>
                                <div class="form-check form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        أقر بأن الكتاب لم يسبق تحكيمه من قبل المجلس العلمي.
                                    </label>
                                </div>
                            </div>
                        </div>

                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable mt-3">
                            <tr>
                                <th>
                                    <label> تم دعم العمل من قبل عمادة البحث العلمي</label>
                                </th>
                                <th>
                                    <label> سنة الدعم</label>
                                </th>
                                <th>
                                    <label>  مبلغ الدعم</label>
                                </th>
                            </tr>
                            <tr>
                                <td class="checkboxTd" data-label=" تم دعم العمل من قبل عمادة البحث العلمي">

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-12 col-sm-3">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                                        نعم
                                                        <i class="input-helper"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-2">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="">
                                                        لا
                                                        <i class="input-helper"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td data-label="سنة الدعم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="  مبلغ الدعم">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </table>
                        <h5 class="card-description">
                            المؤلفون: (يجب توقيع جميع المؤلفين، وتحديد نسبة المشاركة في التأليف والتي تحدد نسبة كل مؤلف من المكافأة المقررة)
                        </h5>

                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                            <tr>
                                <th>
                                    <label>م</label>
                                </th>
                                <th>
                                    <label>  الاسم</label>
                                </th>
                                <th>
                                    <label>  التوقيع</label>
                                </th>
                                <th>
                                    <label> نسبة المشاركة في التأليف</label>
                                </th>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>1</label>
                                </td>
                                <td data-label="  الاسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التوقيع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="نسبة المشاركة في التأليف">
                                    <input type="text" class="form-control" placeholder="%">
                                </td>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>2</label>
                                </td>
                                <td data-label="  الاسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التوقيع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="نسبة المشاركة في التأليف">
                                    <input type="text" class="form-control" placeholder="%">
                                </td>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>3</label>
                                </td>
                                <td data-label="  الاسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التوقيع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="نسبة المشاركة في التأليف">
                                    <input type="text" class="form-control" placeholder="%">
                                </td>
                            </tr>
                            <tr>
                                <td data-label=" م">
                                    <label>4</label>
                                </td>
                                <td data-label="  الاسم">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التوقيع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="نسبة المشاركة في التأليف">
                                    <input type="text" class="form-control" placeholder="%">
                                </td>
                            </tr>

                        </table>


                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                            <tr>
                                <th>
                                    <label>مقدم الطلب</label>
                                </th>
                                <th>
                                    <label>التوقيع</label>
                                </th>
                                <th>
                                    <label>التاريخ</label>
                                </th>
                            </tr>
                            <tr>
                                <td data-label=" مقدم الطلب">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التوقيع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="التاريخ">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>

                            <tr>
                        </table>

                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                            <tr>
                                <th>
                                    <label> &nbsp &nbsp</label>
                                </th>
                                <th>
                                    <label> المدينة</label>
                                </th>
                                <th>
                                    <label>الدولة</label>
                                </th>
                                <th>
                                    <label>الرمز البريدي </label>
                                </th>
                                <th>
                                    <label>رقم الهاتف</label>
                                </th>
                                <th>
                                    <label>البريد الالكتروني</label>
                                </th>
                            </tr>
                            <tr>
                                <td data-label=" عنوان العمل " class="FullWidthTd">
                                    <label>عنوان العمل</label>
                                </td>
                                <td data-label=" المدينة ">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الدولة">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الرمز البريدي ">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="رقم الهاتف">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="البريد الالكتروني">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td data-label="  العنوان الدائم " class="FullWidthTd">
                                    <label>العنوان الدائم </label>
                                </td>
                                <td data-label=" المدينة ">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الدولة">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="الرمز البريدي ">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="رقم الهاتف">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="البريد الالكتروني">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </table>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>