<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">نموذج طلب ترجمة كتاب</h4>
                <form class="form-sample">
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label> عنوان الكتاب باللغة الأصل</label>
                            </th>
                            <th>
                                <label> المؤلف</label>
                            </th>
                            <th>
                                <label> لغة الكتاب</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label=" عنوان الكتاب باللغة الأصل">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="المؤلف">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="  لغة الكتاب">
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label>اسم الناشر</label>
                            </th>
                            <th>
                                <label> مكان النشر</label>
                            </th>
                            <th>
                                <label> سنة النشر</label>
                            </th>
                            <th>
                                <label> رقم الطبعة</label>
                            </th>
                            <th>
                                <label> عدد الصفحات</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label=" اسم الناشر">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="مكان النشر">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" سنة النشر">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" رقم الطبعة">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="عدد الصفحات">
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                    </table>
                    <h5 class="card-description">
                        بيانات المترجم/المترجمين:
                    </h5>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label for="Name"> الاسم</label>
                            </th>
                            <td data-label="الاسم" colspan="3">
                                <input type="text" class="form-control" id="Name">
                            </td>
                            <th>
                                <label for="mobile"> رقم الجوال</label>
                            </th>
                            <td data-label=" رقم الجوال">
                                <input type="text" inputmode="numeric" class="form-control" id="mobile">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="jobNo">الرقم الوظيفي</label>
                            </th>
                            <td data-label="الرقم الوظيفي" colspan="3">
                                <input type="text" inputmode="numeric" class="form-control" id="jobNo">
                            </td>
                            <th>
                                <label for="email"> البريد الالكترونى</label>
                            </th>
                            <td data-label="البريد الالكترونى">
                                <input type="email" inputmode="email" class="form-control" id="email">
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="college">الكلية</label>
                            </th>
                            <td data-label="الكلية">
                                <input type="text" class="form-control" id="college">
                            </td>
                            <th>
                                <label for="Dept">القسم</label>
                            </th>
                            <td data-label="القسم">
                                <input type="text" class="form-control" id="Dept">
                            </td>
                            <th>
                                <label for="grade"> الرتبة العلمية</label>
                            </th>
                            <td data-label="الرتبة العلمية">
                                <input type="text" class="form-control" id="grade">
                            </td>
                        </tr>

                    </table>

                    <h5 class="card-description">
                        الغرض من ترجمة الكتاب:
                    </h5>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-12 col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                        مقرر دراسي
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="">
                                        مرجع علمي
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="">
                                        أخري
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-description">
                        في حالة الكتاب الدراسي، يرجى استكمال ما يلي:
                    </h5>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label>رقم المقرر ورمزه</label>
                            </th>
                            <th>
                                <label> اسم المقرر</label>
                            </th>
                            <th>
                                <label> عدد الطلبة المتوقع تسجيلهم لهذا المقرر سنويا</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label=" رقم المقرر ورمزه">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="اسم المقرر">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="عدد الطلبة المتوقع تسجيلهم لهذا المقرر سنويا">
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </table>

                    <h5 class="card-description">
                        أهم مبررات ترجمة الكتاب:
                    </h5>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable listTable">
                        <tr>
                            <th>
                                <label>1</label>
                            </th>

                            <td data-label="1">
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <th>
                                <label>2</label>
                            </th>

                            <td data-label="2">
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <th>
                                <label>3</label>
                            </th>

                            <td data-label="3">
                                <input type="text" class="form-control">
                            </td>

                        </tr>
                    </table>

                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label> مقدم الطلب</label>
                            </th>
                            <th>
                                <label> التوقيع</label>
                            </th>
                            <th>
                                <label>  التاريخ</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label="  مقدم الطلب">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="التوقيع">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" التاريخ">
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable boardInfo">
                        <thead>
                            <tr>
                                <th>
                                    <label>العنوان</label>
                                </th>
                                <th>
                                    <label> المدينة</label>
                                </th>
                                <th>
                                    <label>  الدولة</label>
                                </th>
                                <th>
                                    <label>  الرمز البريدي</label>
                                </th>
                                <th>
                                    <label>  رقم الجوال</label>
                                </th>
                                <th>
                                    <label>  البريد الالكتروني</label>
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td data-label="عنوان العمل" class="FullWidthTd">
                                <label>عنوان العمل</label>
                            </td>

                            <td data-label="المدينة">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" الدولة">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" الرمز البريدي">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" رقم الجوال">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" البريد الالكتروني">
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td data-label="العنوان الدائم" class="FullWidthTd">
                                <label>العنوان الدائم</label>
                            </td>

                            <td data-label="المدينة">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" الدولة">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" الرمز البريدي">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" رقم الجوال">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label=" البريد الالكتروني">
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </table>


                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label>موافقة مجلس القسم</label>
                            </th>
                            <th>
                                <label>بجلسته</label>
                            </th>
                            <th>
                                <label>للعام</label>
                            </th>
                            <th>
                                <label>  المعقود بتاريخ</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label=" موافقة مجلس القسم">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="بجلسته">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="للعام">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="المعقود بتاريخ">
                                <input type="date" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>رئيس القسم</label>
                            </th>
                            <th colspan="2">
                                <label>التوقيع</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label="رئيس القسم " colspan="2">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="التوقيع" colspan="2">
                                <input type="text" class="form-control">
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label>موافقة مجلس القسم</label>
                            </th>
                            <th>
                                <label>بجلسته</label>
                            </th>
                            <th>
                                <label>للعام</label>
                            </th>
                            <th>
                                <label>  المعقود بتاريخ</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label=" موافقة مجلس القسم">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="بجلسته">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="للعام">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="المعقود بتاريخ">
                                <input type="date" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label>عميد القسم</label>
                            </th>
                            <th colspan="2">
                                <label>التوقيع</label>
                            </th>
                        </tr>
                        <tr>
                            <td data-label=" عميد الكلية " colspan="2">
                                <input type="text" class="form-control">
                            </td>
                            <td data-label="التوقيع" colspan="2">
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>
</div>
