<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">نموذج بدل التميز (للنشر العلمي)</h4>
                <form class="form-sample">
                    <h5 class="card-description">
                        البيانات الشخصية
                    </h5>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <tr>
                            <th>
                                <label for="Name"> الاسم</label>
                            </th>
                            <td data-label="الاسم" colspan="3">
                                <input type="text" class="form-control" id="Name">
                            </td>
                            <th>
                                <label for="mobile"> رقم الجوال</label>
                            </th>
                            <td data-label=" رقم الجوال">
                                <input type="text" inputmode="numeric" class="form-control" id="mobile">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="jobNo">الرقم الوظيفي</label>
                            </th>
                            <td data-label="الرقم الوظيفي" colspan="3">
                                <input type="text" inputmode="numeric" class="form-control" id="jobNo">
                            </td>
                            <th>
                                <label for="email"> البريد الالكترونى</label>
                            </th>
                            <td data-label="البريد الالكترونى">
                                <input type="email" inputmode="email" class="form-control" id="email">
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="college">الكلية</label>
                            </th>
                            <td data-label="الكلية">
                                <input type="text" class="form-control" id="college">
                            </td>
                            <th>
                                <label for="Dept">القسم</label>
                            </th>
                            <td data-label="القسم">
                                <input type="text" class="form-control" id="Dept">
                            </td>
                            <th>
                                <label for="grade"> الرتبة العلمية</label>
                            </th>
                            <td data-label="الرتبة العلمية">
                                <input type="text" class="form-control" id="grade">
                            </td>
                        </tr>

                    </table>

                    <h5 class="card-description">
                        النشر العلمي
                    </h5>
                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable">
                        <thead>
                            <tr>
                                <th colspan="9">
                                    <label> يعبأ من قبل الباحث</label>
                                </th>
                                <th colspan="3">
                                    <label> لاستخدام المجلس العلمي</label>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label>م</label>
                                </th>
                                <th>
                                    <label>عنوان البحث</label>
                                </th>
                                <th>
                                    <label> اسم المجلة </label>
                                </th>
                                <th>
                                    <label> المجلد </label>
                                </th>
                                <th>
                                    <label> تاريخ النشر(الشهر/السنة) </label>
                                </th>
                                <th>
                                    <label> معامل التأثير (IF) </label>
                                </th>
                                <th>
                                    <label> عدد المؤلفين </label>
                                </th>
                                <th>
                                    <label>  ترتيب المتقدم</label>
                                </th>
                                <th>
                                    <label>  تخصص المجلة</label>
                                </th>
                                <th>
                                    <label>  ترتيب المجلة</label>
                                </th>
                                <th>
                                    <label>  فئة المجلة</label>
                                </th>
                                <th>
                                    <label>   نسبة الاستحقاق</label>
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th data-label="م">
                                    <label for="serial">1</label>
                                </th>
                                <td data-label="عنوان البحث">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="اسم المجلة	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="المجلد	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="تاريخ النشر(الشهر / السنة)	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="معامل التأثير (IF)	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="عدد المؤلفين	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="ترتيب المتقدم	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="تخصص المجلة	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="ترتيب المجلة	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="فئة المجلة	">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="نسبة الاستحقاق">
                                    <input type="text" class="form-control">
                                </td>

                            </tr>
                        </tbody>

                    </table>


                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable boardInfo">
                        <thead>
                            <tr>
                                <th>
                                    <label>المجلس</label>
                                </th>
                                <th>
                                    <label>رقم الجلسة</label>
                                </th>
                                <th>
                                    <label>تاريخها</label>
                                </th>
                                <th>
                                    <label>رقم الموضوع</label>
                                </th>
                                <th colspan="2">
                                    <label>اسم رئيس المجلس وتوقيعه</label>
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td data-label="القسم" class="FullWidthTd">
                                    <label>القسم</label>
                                </td>

                                <td data-label="رقم الجلسة">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="تاريخها">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="رقم الموضوع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="اسم رئيس المجلس">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="توقيعه">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td data-label="الكلية" class="FullWidthTd">
                                    <label>الكلية</label>
                                </td>

                                <td data-label="رقم الجلسة">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="تاريخها">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="رقم الموضوع">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="اسم رئيس المجلس">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="توقيعه">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </tbody>

                    </table>


                </form>
                <ul class="list-arrow mt-5 tableNotes">
                    <li>ترفق الصفحة الأولى من البحث.</li>
                    <li>تخصص المجلة: حسب تصنيف ثومسون رويترز.</li>
                    <li>نسبة الاستحقاق: من الراتب الأساس للدرجة الأولى من السلم.</li>
                </ul>
            </div>
        </div>
    </div>
</div>