
<div class="participationForm">
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">نموذج طلب مشاركة داخلية أو خارجية</h4>
                    <form class="form-sample">
                        <h5 class="card-description">
                            مؤتمر
                        </h5>
                        <table border="0" cellspacing="0" cellpadding="0" class="table infoTable participationTable">
                            <tr>
                                <th>
                                    <label for="Name"> الاسم</label>
                                </th>
                                <td data-label="الاسم">
                                    <input type="text" class="form-control" id="Name">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="jobNo">الرقم الوظيفي</label>
                                </th>
                                <td data-label="الرقم الوظيفي">
                                    <input type="text" inputmode="numeric" class="form-control" id="jobNo">
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="conferenceName"> اسم المؤتمر أو الندوة</label>
                                </th>
                                <td data-label="اسم المؤتمر أو الندوة">
                                    <input type="text" class="form-control" id="conferenceName">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="conferenceDate"> تاريخ الانعقاد</label>
                                </th>
                                <td data-label="تاريخ الانعقاد">
                                    <input type="text" class="form-control" id="conferenceDate">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="conferencePlace"> مكان الانعقاد</label>
                                </th>
                                <td data-label="> مكان الانعقاد">
                                    <input type="text" class="form-control" id="conferencePlace">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="conferenceUrl"> رابط المؤتمر</label>
                                </th>
                                <td data-label="رابط المؤتمر">
                                    <input type="text" class="form-control" id="conferenceUrl">
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="Organizer"> الجهة المنظمة</label>
                                </th>
                                <td data-label="الجهة المنظمة">
                                    <input type="text" class="form-control" id="Organizer">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="participationNature"> طبيعة المشاركة</label>
                                </th>
                                <td data-label="طبيعة المشاركة">
                                    <input type="text" class="form-control" id="participationNature">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="searchTitle"> عنوان البحث</label>
                                </th>
                                <td data-label="عنوان البحث">
                                    <input type="text" class="form-control" id="searchTitle">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="isThereAlink"> هل يوجد ارتباط</label>
                                </th>
                                <td data-label="هل يوجد ارتباط">
                                    <input type="text" class="form-control" id="isThereAlink">
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="participatedBefore"> هل سبقت لك المشاركة هذا العام</label>
                                </th>
                                <td data-label="هل سبقت لك المشاركة هذا العام">
                                    <input type="text" class="form-control" id="participatedBefore">
                                </td>
                            </tr>

                        </table>

                        <h4>

                            تم عرض الموضوع على اللجنة الدائمة للمؤتمرات والندوات والمعارض والاعلام في جلستها رقم
                            <input type="text" class="form-control" />
                            وتاريخ
                            <input type="date" class="form-control" />
                            وأوصت التالي:

                        </h4>

                        <div class="form-group">
                            <div class="row my-3">

                                <div class="col-12 col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                            الموافقة
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="">
                                            عدم الموافقة
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <textarea class="form-control" cols="3" rows="3" style="resize:none"></textarea>
                        <h4 class="my-3"><span class="bold"> ملاحظة: </span>  يجب ارفاق نموذج الوزارة</h4>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>