
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Result Amendment Form</h4>
                <form class="form-sample">
                    @*<p class="card-description">
                           Please enter the data:
                        </p>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="StudentName"> Student Name:</label>
                                <input type="text" class="form-control" id="StudentName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="StudentID"> Student ID:</label>
                                <input type="text" class="form-control" id="StudentID">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="StudentCollege"> Student College:</label>
                                <input type="text" class="form-control" id="StudentCollege">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bold">Semester:1</label>
                                <label>semester 2020/2021</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bold">College Offering the Course:</label>
                                <label>College of Computing and Informatics</label>
                            </div>
                        </div>
                    </div>

                    <table border="0" cellspacing="0" cellpadding="0" class="table infoTable boardInfo">
                        <thead>
                            <tr>
                                <th>
                                    <label>#</label>
                                </th>
                                <th colspan="3">
                                    <label>Course</label>
                                </th>
                                <th colspan="5">
                                    <label>Course Grade Before Amendment</label>
                                </th>
                                <th rowspan="2" class="thRowSpan">
                                    <label>Justification of Amendment</label>
                                </th>
                                <th colspan="5">
                                    <label>Course Grade After Amendment</label>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label>#</label>
                                </th>

                                <th>
                                    <label>Code</label>
                                </th>
                                <th>
                                    <label>CRN</label>
                                </th>
                                <th>
                                    <label>Name</label>
                                </th>

                                <th>
                                    <label>Sem. Work</label>
                                </th>
                                <th>
                                    <label>Final</label>
                                </th>
                                <th>
                                    <label>Numerucal Grade</label>
                                </th>
                                <th>
                                    <label>Letter Grade</label>
                                </th>
                                <th>
                                    <label>Written</label>
                                </th>

                                <th>
                                    <label>Sem. Work</label>
                                </th>
                                <th>
                                    <label>Final</label>
                                </th>
                                <th>
                                    <label>Numerucal Grade</label>
                                </th>
                                <th>
                                    <label>Letter Grade</label>
                                </th>
                                <th>
                                    <label>Written</label>
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td data-label="#" class="FullWidthTd">
                                    <label>1</label>
                                </td>

                                <td data-label="Code">
                                    <input type="text" class="form-control">
                                </td>

                                <td data-label="CRN">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Name">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Sem. Work">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Final">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Numerucal Grade">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Letter Grade">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Written">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Justification of Amendment">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Sem. Work">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Final">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Numerucal Grade">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Letter Grade">
                                    <input type="text" class="form-control">
                                </td>
                                <td data-label="Written">
                                    <input type="text" class="form-control">
                                </td>
                                @*<td data-label="تاريخها">
                                        <input type="text" class="form-control">
                                    </td>*@

                            </tr>


                        </tbody>

                    </table>

                    <div class="signatureDiv">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <label class="labelTitle"><span>The Instructor</span></label>
                                <div class="form-group">
                                    <label for="InstructorName" class="mt-1"> Name:</label>
                                    <input type="text" class="form-control" id="InstructorName">

                                    <label for="InstructorSignature" class="mt-2"> Signature:</label>
                                    <input type="text" class="form-control" id="InstructorSignature">

                                    <label for="InstructorDate" class="mt-2"> Date:</label>
                                    <input type="date" class="form-control" id="InstructorDate">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label class="labelTitle"><span>Head of Department:</span></label>
                                <div class="form-group">
                                    <label for="HeadName" class="mt-1"> Name:</label>
                                    <input type="text" class="form-control" id="HeadName">

                                    <label for="HeadSignature" class="mt-2"> Signature:</label>
                                    <input type="text" class="form-control" id="HeadSignature">

                                    <label for="HeadDate" class="mt-2"> Date:</label>
                                    <input type="date" class="form-control" id="HeadDate">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label class="labelTitle">Approved, <span> Dean of the College:</span></label>
                                <div class="form-group">
                                    <label for="DeanName" class="mt-1"> Name:</label>
                                    <input type="text" class="form-control" id="DeanName">

                                    <label for="DeanSignature" class="mt-2"> Signature:</label>
                                    <input type="text" class="form-control" id="DeanSignature">

                                    <label for="DeanDate" class="mt-2"> Date:</label>
                                    <input type="date" class="form-control" id="DeanDate">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label class="labelTitle">Ratification: <span>Dean of Admission and Student Affairs</span></label>
                                <div class="form-group">
                                    <label for="Dean2Name" class="mt-1"> Name:</label>
                                    <input type="text" class="form-control" id="Dean2Name">

                                    <label for="Dean2Signature" class="mt-2"> Signature:</label>
                                    <input type="text" class="form-control" id="Dean2Signature">

                                    <label for="Dean2Date" class="mt-2"> Date:</label>
                                    <input type="date" class="form-control" id="Dean2Date">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <ul class="list-arrow mt-5 tableNotes">
                    <li>Any scraping or alteration in this form will cancel it.</li>
                    <li>Original copy + photo copy to the Deanship of Graduate Studies.</li>
                </ul>
            </div>
        </div>
    </div>
</div>