/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    .border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    left: 50%;
    right: 50%;
}


/*---------------------------*/


body {
    background-image: linear-gradient(to right, #5b3283, #3580ab, #5db5b3);
    font-family: inherit;
}
.imgContainer{
    display:flex;
    justify-content:center;
}
.main {
    background-color: white;
    border-radius: 20px;
    padding: 5% 6%;
    margin-top: 10%;
}

.loginContent {
    align-items: center;
    justify-content: center;
}

.logoImg{
    width:250px;
    height:250px;
    margin:auto;
}
/*
.signin-border {
    float: right;
 
}*/
h2 {
    color: #0598C3;
    margin: 8px 8px;
    padding: 20px 30px;
    text-align: center;
}

input.form-control, select.form-control {
    background-color: rgb(240, 236, 236);
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    margin: 5px auto;
}


    button:hover {
        background-color: rgb(53, 53, 53);
        color: white;
    }

.btn-primary {
    border: none;
    border-radius: 25px;
    margin: 10px auto;
    background-color: rgb(93,181,179);
    cursor: pointer;
    transition-duration: 0.8s;
    color: white;
    padding: 18px;
    background-color: rgb(93,181,179);
}

    button a {
        text-decoration: none;
        color: white;
    }


.copyright {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin:auto;
}

/*----forget password -----*/
.forgetPassword .btn-primary {
    padding: 10px;
}
.forgetPassword input.form-control {
    padding: 22px;
}
@media screen and (min-width: 280px) {
        .logoImg {
            width: 211px;
            height: 211px;
            margin: auto;
        }
    h1 {
        font-size: 22px;
        margin: 20px auto;
    }
    h4 {
        font-size: 15px;
    }
    }