@page
@model Project.Web.Pages.ManageTicketsModel
@{
    ViewData["Title"] = "Manage Tickets";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Manage Tickets</h3>
                <div class="table-responsive">
                    <table class="table table-bordered" id="ManageTable">
                        <thead>
                            <tr class="table-info">
                                <th>Ticket ID</th>
                                <th>Ticket Type</th>
                                <th>Ticket Status</th>
                                <th>Status Date</th>
                                <th>Created Date</th>
                                <th>Approved by</th>
                                <th>Display Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade bd-example-modal-lg" tabindex="-1"  aria-labelledby="myLargeModalLabel" role="dialog" aria-hidden="true" id="TicketModal">
    <div class="modal-dialog bd-example-modal-lg">
        <div class="modal-content">
            <div class="x_panel">
                <div class="x_title">
                    <h2>التذكرة</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="TicketInfo">
                    <img class="image" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts{
    <script>
        var TicketStatusList = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["TicketStatus"]))');
        function ChangeTicketStatus(Id, Status_Id) {
            debugger
            if ($(Status_Id).val() == 3) {
                $(Status_Id).parent().find(".reason").css("display", "inline");
            }
            else {
                $(Status_Id).parent().find(".reason").css("display", "none");
            }
            $.ajax({
                type: 'POST',
                url: "/Home/ChangeTicketStatus",
                data: { Ticket_ID: Id, TicketStatus_Id: $(Status_Id).val() },
                success: function (result) {

                    $.toast({
                        heading: 'Success',
                        text: 'Ticket status changed successfully!',
                        showHideTransition: 'slide',
                        icon: 'success',
                        position:'top-right'
                    })
                }
            });
         //   $("#ManageTable").DataTable().ajax.reload();
        }
        function AddReason(Id, reason) {
            $.ajax({
                type: 'POST',
                url: "/Home/AddReasonToTicket",
                data: { Ticket_ID: Id, Reason: $(reason).val() },
                success: function (result) {

                    $.toast({
                        heading: 'Success',
                        text: 'Reason Added successfully!',
                        showHideTransition: 'slide',
                        icon: 'success',
                        position:'top-right'
                    })
                }
            });
        }
        function GetTicket(elem) {
            var data = $(elem).parent().find(".ticket");
            $(".image").attr("src", $(data).attr('src'));
            $("#TicketModal").modal("show");
        }
        $(function () {
            $('#ManageTable').DataTable({
                serverSide: true,
                searching: true,
                ordering: false,
                "order": [[3, "desc"]],
               "ajax": {
                "url": "/Home/TicketDataHelder",
                   "type": "POST",
                // "datatype": "json",
                "data": function (data) {
                    index = 0;
                    data.TicketStatus = $("#TicketStatus").val();
                    data.DateTo = $("#DateTo").val();
                    data.DateFrom = $("#DateFrom").val();
                    return data;
                },
            },
            "columns": [
                {
                    //data: function (data, row, dataIndex) {
                    //    return ++index;
                    //}
                    "data":"Ticket_Id"
                },

                { "data": '@SessionHelper.IsArabic' == "True" || '@SessionHelper.IsArabic' == true ? "TicketTypeName_Ar" : "TicketTypeName_En"},
                {
                    data: function (data, row) {
                        var TicketStatus = '<select class="form-control" onchange="ChangeTicketStatus(' + data.Ticket_Id+',this)"> ';
                        $.each(TicketStatusList, function (index, element) {
                            if (element.Value == data.FK_TicketStatus_Id) {
                                TicketStatus += '<option value="' + element.Value + '"selected>' + element.Text + '</option>';
                            }
                            else {
                                TicketStatus += '<option value="' + element.Value + '">' + element.Text + '</option>';
                            }
                        })
                        var reason = (data.Reason == null ? "" : data.Reason.toString());
                        if (data.FK_TicketStatus_Id == 3) {
                            TicketStatus += '</select><input type="text" placeholder="Reason Of Reject" onblur="AddReason(' + data.Ticket_Id + ',this)" value="' + reason + '" class="reason form-control"/>';
                        }
                        else {
                            TicketStatus += '</select><input type="text"placeholder="Reason Of Reject" onblur="AddReason(' + data.Ticket_Id +',this)" value=""style="display:none" class="reason form-control"/>';
                        }

                        return TicketStatus;
                    },
                    "orderable": false
                },
                {
                    data: function (data, row) {
                        return data.ModifiedOn ? data.ModifiedOn.toString("MM/dd/yy")  : '';
                    }
                },
                {
                    data: function (data, row) {
                        return data.CreatedOn != null ? data.CreatedOn.toString("MM/dd/yy") : '';
                    }
                },
                { "data": "ApprovedBy" },
                {
                    data: function (data, row) {
                        debugger
                        var str = data.Data;
                        return `<img src="` + data.DataURL +`"class="ticket" hidden>` + '<input class="btn btn-info mr-2"  type="button" value="عرض التذاكرة" onclick="GetTicket(this)" />';
                    }
                },

            ],
                'columnDefs': [{
                    'targets': [1, 2], /* column index */
                    'orderable': true, /* true or false */
                }]
            });

        });
    </script>
}